body{
	font-family: 'Pangolin', cursive;
	color: black;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

video{
	height: 50%; 
	width: auto;
}

#toggle{
	float: right;
	display: inline;
}
div h3{
	display: inline;
}

#myVideo{
	display: none;
	border: 1px solid;
	border-radius: 5px;
	margin: 0 auto;
}